* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;

    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.left-side {
    background-image: url('../../assets/img/vecteezy_geometric-seamless-pattern-white-background-minimalist-concept_.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    z-index: 1; 
}

.left-side::before {
    content: "";
    background-color: rgba(0, 0, 128, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content {
    color: #0a1fa7;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-align: center;
}

h5 {
    font-size: 30px;
}

h5 .unicomer {
    color: #0a0a0a;
}


.right-side {
    flex-direction: column;
    width: 45%;
    background-image: url(../../assets/img/vecteezy_geometric-seamless-pattern-white-background-minimalist-concept_.jpg);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #fff;
}

.forms {
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.form-inputs label {
    font-size: 16px;
    color: #fff;
}
.black-text {
    color: black;
}
.forms input {
    width: 100% !important;
    height: 45px;
    border: none;
    margin-bottom: 10px;
    transition: all 0.5s;
    background: transparent;
    border: none;
    border-bottom: 1px solid #756f6f;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    background: none;
    transition: 0.2s;
}

.forms select {
    width: 100% !important;
    height: 45px;
    border: none;
    margin-bottom: 10px;
    transition: all 0.5s;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #040387;
    background: none;
    transition: 0.2s;
    color: #040387;
    background: transparent;
    border: none;
    border-bottom: 1px solid #756f6f;}

.forms input[type="submit"] {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #756f6f;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    border-radius: 26px;
    border: 1px solid #d4d3e8;
    font-weight: 700;
    width: 100%;
    transition: 0.2s;
}

.forms input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #6a679e;
    outline: none;
}

.submit-button {
    width: 100%;
}

.section .container .right-side .forms input:focus,
input:active,
input:hover {
    outline: none;
    border-bottom-color: #6a679e;
}

.strength-list {
    margin-left: 5px;
    list-style: none;
    margin-bottom: 5px;
}

.form-inputs {
    position: relative;
    width: 100% !important;
}

.error {
    font-size: 11px;
    color: red;
    letter-spacing: 1px;
}

.keyboard {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.keyboard-container {
    text-align: center;
}

.register {
    position: absolute;
    color: white;
    bottom: 0;
    padding-bottom: 30px;
    text-align: center;
}

.highlight {
    font-weight: 600;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
}

.highlight:hover {
    transition: color 0.2s ease;
    text-decoration: underline;
}

@media (max-width: 750px) {
    .container {
        max-width: 350px;
    }

    .section .container .right-side {
        display: none;
    }

    .section .container .left-side {
        width: 100%;
    }
}