.split-screen {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-section {
    background-image: url('../../assets/img/vecteezy_geometric-seamless-pattern-white-background-minimalist-concept_.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 20px;
    flex: 1;
}

.right-section {
    background-image: url('../../assets/img/vecteezy_geometric-seamless-pattern-white-background-minimalist-concept_.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    z-index: 1; /* Establece un z-index negativo para que esté detrás de los elementos del formulario */

}

.right-section::before {
    content: "";
    background-color: rgba(0, 0, 128, 0.7); /* Fondo azul oscuro con opacidad */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Establece un z-index negativo para que esté detrás de los elementos del formulario */
}

.welcome-message {
    text-align: center;
    margin-top: 250px;
}

.black-text {
    color: black;
}

.blue-text {
    color: #2020a7; 
}

.right-section form {
    z-index: 1;
}

.right-section .form-group label {
    color: white;
}
input, select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #756f6f;
    width: 100%;
    margin: 5px 0; 
    padding: 5px;
    color: #000; 
}


button {
    background-color: #9aadc2;
    color: black; 
    border: none;
    padding: 15px 150px; 
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0056b3; 
}
