.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

/* Estilo para las tarjetas grandes */
.big-card {
  width: 900px; /* Cambia el ancho según tus preferencias */
  height: 400px; /* Cambia la altura según tus preferencias */
  /* Otros estilos personalizados para las tarjetas grandes */
}

