<div class="transactions-table">
    <table class="table-layout" aria-label="Elements">
        <tbody>
            <tr>
                <td [ngClass]="obtenerEstilosYIcono(transaccion.tipo).clase">
                    <div class="circle">
                        <mat-icon>{{ obtenerEstilosYIcono(transaccion.tipo).icono }}</mat-icon>
                    </div>
                </td>
                <td>{{transaccion.usuarioDestinatario.nombre}} {{transaccion.usuarioDestinatario.apellido}}</td>
                <td>{{transaccion.usuarioRemitente.nombre}} {{transaccion.usuarioRemitente.apellido}}</td>

                <td>
                    ${{transaccion.cantidad}}

                </td>
                <td class="fecha-hora">
                    <span>{{convertirFecha(transaccion.fecha).fechaFormateada}}</span>
                    <small>{{convertirFecha(transaccion.fecha).horaFormateada}}</small>
                </td>
                <td class="estado">
                    {{transaccion.estado}}
                </td>
            </tr>
            <tr>
                <td>
                    <button class="custom-button" (click)="openTransactionModal()">Opciones</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="showTransactionModal" class="modal" id="transactionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Realizar Transacción</h5>
                <button type="button" class="close" (click)="closeTransactionModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="transactionForm" (ngSubmit)="realizarTransaccion()">
                    <div>
                        <label for="remitente">Remitente:</label>
                        <input type="number" id="usuario_id" formControlName="usuario_id">
                    </div>
                    <div>
                        <label for="destinatario">Destinatario:</label>
                        <input type="number" id="usuario_destinatario_id" formControlName="usuario_destinatario_id">
                    </div>
                    <div>
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" id="cantidad" formControlName="cantidad">
                    </div>
                    <div>
                        <label for="motivo">Motivo:</label>
                        <input type="text" id="motivo" formControlName="motivo">
                    </div>

                    <button (click)="realizarTransaccion()">Realizar Transacción</button>
                </form>
            </div>
        </div>
    </div>
</div>