<div class="transactions-table">
    <table class="table-layout" aria-label="Elements">
        <tbody>
            <tr>
                <td [ngClass]="obtenerEstilosYIcono(transaccion.tipo).clase">
                    <div class="circle">
                        <mat-icon>{{ obtenerEstilosYIcono(transaccion.tipo).icono }}</mat-icon>
                    </div>
                </td>
                <td>{{transaccion.usuarioDestinatario.nombre}} {{transaccion.usuarioDestinatario.apellido}}</td>
                <td>
                    ${{transaccion.monto}}
                </td>
                <td class="fecha-hora">
                    <span>{{convertirFecha(transaccion.fecha).fechaFormateada}}</span>
                    <small>{{convertirFecha(transaccion.fecha).horaFormateada}}</small>
                </td>
                <td class="estado" [style.color]="getTextColor(transaccion.estado)">
                    {{transaccion.estado}}
                </td>
            </tr>
            <td>
            </td>

        </tbody>
    </table>
</div>
<div>
    <form [formGroup]="transactionForm" (ngSubmit)="submitTransaction()">
        <div>
            <label for="remitente">Remitente:</label>
            <input type="number" id="usuario_id" formControlName="usuarioRemitente_id">
        </div>
        <div>
            <label for="destinatario">Destinatario:</label>
            <input type="number" id="usuarioDestinatario_id" formControlName="usuarioDestinatario_id">
        </div>
        <div>
            <label for="monto">Monto:</label>
            <input type="number" id="monto" formControlName="monto">
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input type="text" id="estado" formControlName="estado">
        </div>


        <button (click)="realizarTransaccion()">Realizar Transacción</button>
    </form>
</div> 